<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">                        
                        <div class="search-group group-a"><span class="type-text text-muted">常用</span>
                            <ul class="search-type">
                                <li><input checked="checked" hidden="" type="radio" name="type2" 
                                        id="m_type-baidu" value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道">
                                    <label for="m_type-baidu"><span class="text-muted">百度</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2"
                                        id="m_type-bing"
                                        value="https://cn.bing.com/search?q=" 
                                        data-placeholder="微软 Bing 搜索">
                                    <label for="m_type-bing"><span class="text-muted">必应</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-google"
                                        value="https://www.google.com/search?q=" 
                                        data-placeholder="谷歌搜索">
                                    <label for="m_type-google"><span class="text-muted">谷歌</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-360"
                                        value="https://www.so.com/s?q=" 
                                        data-placeholder="360 好搜">
                                    <label for="m_type-360"><span class="text-muted">360</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-sogo"
                                        value="https://www.sogou.com/web?query=" 
                                        data-placeholder="搜狗搜索"> 
                                    <label for="m_type-sogo"><span class="text-muted">搜狗</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2"
                                        id="m_type-website"
                                        value="https://cn.bing.com/search?q=site%3Anewmt.fun+"
                                        data-placeholder="搜索 newmt.fun">
                                    <label for="m_type-website"><span class="text-muted">知识</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
